<div *ngIf="true" class="ngm-side-menu-holder">
    <div class="ngm-side-menu">
        <div class="ngm-close-button">
            X
        </div>
        <div class="ngm-menu-head">

        </div>
        <div class="ngm-menu-body">
            <div class="ngm-menu-list">
                <ul>
                    <li>
                        Home
                    </li>
                    <li>
                        Home
                    </li>
                    <li>
                        Home
                    </li>
                    <li>
                        Home
                    </li>
                    <li>
                        Home
                    </li>
                    <li>
                        Home
                    </li>
                    <li>
                        Home
                    </li>
                </ul>
            </div>
        </div>
        <div class="ngm-menu-footer">

        </div>
    </div>
</div>
<div class="ngm-blur-background"></div>
